In [9]:
# Optional: Create the CSV file using Python
content = """
order_id,region,product,quantity,price
1001,East,Keyboard,2,1500
1002,West,Mouse,5,500
1003,East,Monitor,,12000
1004,South,Keyboard,1,1500
1005,West,Monitor,2,12000
"""

with open("sales_data.csv", "w") as file:
    file.write(content)

print("sales_data.csv created successfully!")

sales_data.csv created successfully!

In [7]:
import pandas as pd
df = pd.read_csv("sales_data.csv")

In [8]:
print(df)

   order_id region   product  quantity  price
0      1001   East  Keyboard       2.0   1500
1      1002   West     Mouse       5.0    500
2      1003   East   Monitor       NaN  12000
3      1004  South  Keyboard       1.0   1500
4      1005   West   Monitor       2.0  12000

In [10]:
df.head()

   order_id region   product  quantity  price
0      1001   East  Keyboard       2.0   1500
1      1002   West     Mouse       5.0    500
2      1003   East   Monitor       NaN  12000
3      1004  South  Keyboard       1.0   1500
4      1005   West   Monitor       2.0  12000

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   order_id  5 non-null      int64
 1   region    5 non-null      object
 2   product   5 non-null      object
 3   quantity  4 non-null      float64
 4   price     5 non-null      int64
dtypes: float64(1), int64(2), object(2)
memory usage: 232.0+ bytes

In [12]:
df.describe()

          order_id  quantity         price
count     5.000000  4.000000      5.000000
mean   1003.000000  2.500000   5500.000000
std       1.581139  1.732051   5947.688627
min    1001.000000  1.000000    500.000000
25%    1002.000000  1.750000   1500.000000
50%    1003.000000  2.000000   1500.000000
75%    1004.000000  2.750000  12000.000000
max    1005.000000  5.000000  12000.000000

In [13]:
region_series = df["region"]
print(type(region_series))

<class 'pandas.core.series.Series'>

In [14]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [15]:
print(region_series)

0     East
1     West
2     East
3    South
4     West
Name: region, dtype: object

In [18]:
df.isna
## the third coolumn contains missing values

<bound method DataFrame.isna of    order_id region   product  quantity  price
0      1001   East  Keyboard       2.0   1500
1      1002   West     Mouse       5.0    500
2      1003   East   Monitor       NaN  12000
3      1004  South  Keyboard       1.0   1500
4      1005   West   Monitor       2.0  12000>

In [22]:
df.describe()
## numeric columns are order_id, quantity and price

          order_id  quantity         price
count     5.000000  4.000000      5.000000
mean   1003.000000  2.500000   5500.000000
std       1.581139  1.732051   5947.688627
min    1001.000000  1.000000    500.000000
25%    1002.000000  1.750000   1500.000000
50%    1003.000000  2.000000   1500.000000
75%    1004.000000  2.750000  12000.000000
max    1005.000000  5.000000  12000.000000

In [23]:
df.info
## missing quantity for monitor order and need to verify prices because of the 12000> value

<bound method DataFrame.info of    order_id region   product  quantity  price
0      1001   East  Keyboard       2.0   1500
1      1002   West     Mouse       5.0    500
2      1003   East   Monitor       NaN  12000
3      1004  South  Keyboard       1.0   1500
4      1005   West   Monitor       2.0  12000>

In [24]:
df.isnull().sum()

order_id    0
region      0
product     0
quantity    1
price       0
dtype: int64

In [25]:
df.columns

Index(['order_id', 'region', 'product', 'quantity', 'price'], dtype='object')

In [27]:
df.memory_usage(deep=True)

Index        72
order_id     40
region      146
product     160
quantity     40
price        40
dtype: int64

In [28]:
import pandas as pd

df = pd.read_csv("sales_data.csv")

In [29]:
print("Original dataset:")
print(df)
print(f"\nShape: {df.shape}")
print(f"\nMissing values:\n{df.isnull().sum()}")

Original dataset:
   order_id region   product  quantity  price
0      1001   East  Keyboard       2.0   1500
1      1002   West     Mouse       5.0    500
2      1003   East   Monitor       NaN  12000
3      1004  South  Keyboard       1.0   1500
4      1005   West   Monitor       2.0  12000

Shape: (5, 5)

Missing values:
order_id    0
region      0
product     0
quantity    1
price       0
dtype: int64

In [30]:
filtered_df = df.loc[(df["region"] == "West") & (df["quantity"] > 1)]

In [31]:
print("Filtered dataset:")
print(filtered_df)

Filtered dataset:
   order_id region  product  quantity  price
1      1002   West    Mouse       5.0    500
4      1005   West  Monitor       2.0  12000

In [34]:
print("Missing values before cleaning:")
print(df.isnull().sum())

Missing values before cleaning:
order_id    0
region      0
product     0
quantity    1
price       0
dtype: int64

In [33]:
clean_df = df.dropna(subset=["quantity"])

In [35]:
print("Missing values after cleaning:")
print(clean_df.isnull().sum())
print(f"\nRows before: {len(df)}, Rows after: {len(clean_df)}")

Missing values after cleaning:
order_id    0
region      0
product     0
quantity    0
price       0
dtype: int64

Rows before: 5, Rows after: 4

In [36]:
print("Duplicate rows:")
print(clean_df[clean_df.duplicated()])
print(f"\nTotal duplicates: {clean_df.duplicated().sum()}")

Duplicate rows:
Empty DataFrame
Columns: [order_id, region, product, quantity, price]
Index: []

Total duplicates: 0

In [37]:
clean_df = clean_df.drop_duplicates()

In [38]:
print(f"Rows after removing duplicates: {len(clean_df)}")

Rows after removing duplicates: 4

In [39]:
clean_df.to_csv("clean_sales_data.csv", index=False)

In [40]:
print("Clean dataset saved to: clean_sales_data.csv")
print(f"Final shape: {clean_df.shape}")

Clean dataset saved to: clean_sales_data.csv
Final shape: (4, 5)

In [41]:
def clean_sales_data(input_file, output_file):
    """
    Clean sales data by filtering, handling missing values, and removing duplicates.
    """
    # Load data
    df = pd.read_csv(input_file)
    
    # Filter: region == "West" and quantity > 1
    filtered_df = df.loc[(df["region"] == "West") & (df["quantity"] > 1)]
    
    # Handle missing values: drop rows with missing quantity
    clean_df = filtered_df.dropna(subset=["quantity"])
    
    # Remove duplicates
    clean_df = clean_df.drop_duplicates()
    
    # Save cleaned data
    clean_df.to_csv(output_file, index=False)
    
    print(f"Cleaning complete!")
    print(f"Original rows: {len(df)}")
    print(f"Cleaned rows: {len(clean_df)}")
    print(f"Output saved to: {output_file}")
    
    return clean_df

In [42]:
clean_df = clean_sales_data("sales_data.csv", "clean_sales_data.csv")

Cleaning complete!
Original rows: 5
Cleaned rows: 2
Output saved to: clean_sales_data.csv

In [43]:
print("Dataset shape:", df.shape)
print("\nFirst few rows:")
print(df.head())

Dataset shape: (5, 5)

First few rows:
   order_id region   product  quantity  price
0      1001   East  Keyboard       2.0   1500
1      1002   West     Mouse       5.0    500
2      1003   East   Monitor       NaN  12000
3      1004  South  Keyboard       1.0   1500
4      1005   West   Monitor       2.0  12000

In [44]:
df["revenue"] = df["quantity"] * df["price"]

In [45]:
print("Dataset with revenue:")
print(df[["order_id", "product", "quantity", "price", "revenue"]])

Dataset with revenue:
   order_id   product  quantity  price  revenue
0      1001  Keyboard       2.0   1500   3000.0
1      1002     Mouse       5.0    500   2500.0
2      1003   Monitor       NaN  12000      NaN
3      1004  Keyboard       1.0   1500   1500.0
4      1005   Monitor       2.0  12000  24000.0

In [46]:
product_revenue = df.groupby("product")["revenue"].sum()

In [47]:
print("Revenue by Product:")
print(product_revenue)

Revenue by Product:
product
Keyboard     4500.0
Monitor     24000.0
Mouse        2500.0
Name: revenue, dtype: float64

In [48]:
product_revenue_df = product_revenue.reset_index()
product_revenue_df.columns = ["product", "total_revenue"]
print("\nRevenue by Product (DataFrame):")
print(product_revenue_df)

Revenue by Product (DataFrame):
    product  total_revenue
0  Keyboard         4500.0
1   Monitor        24000.0
2     Mouse         2500.0

In [49]:
region_revenue = df.groupby("region")["revenue"].sum()

In [50]:
print("Revenue by Region:")
print(region_revenue)

Revenue by Region:
region
East      3000.0
South     1500.0
West     26500.0
Name: revenue, dtype: float64

In [51]:
region_revenue_df = region_revenue.reset_index()
region_revenue_df.columns = ["region", "total_revenue"]
print("\nRevenue by Region (DataFrame):")
print(region_revenue_df)

Revenue by Region (DataFrame):
  region  total_revenue
0   East         3000.0
1  South         1500.0
2   West        26500.0

In [52]:
product_revenue_sorted = product_revenue.sort_values(ascending=False)
print("Products sorted by revenue:")
print(product_revenue_sorted)

Products sorted by revenue:
product
Monitor     24000.0
Keyboard     4500.0
Mouse        2500.0
Name: revenue, dtype: float64

In [53]:
top_products = product_revenue_sorted.head(2)
print("\nTop 2 Products by Revenue:")
print(top_products)

Top 2 Products by Revenue:
product
Monitor     24000.0
Keyboard     4500.0
Name: revenue, dtype: float64

In [54]:
top_products_df = top_products.reset_index()
top_products_df.columns = ["product", "total_revenue"]
print("\nTop 2 Products (DataFrame):")
print(top_products_df)

Top 2 Products (DataFrame):
    product  total_revenue
0   Monitor        24000.0
1  Keyboard         4500.0

In [55]:
product_revenue_df.to_csv("revenue_by_product.csv", index=False)
print("Saved: revenue_by_product.csv")

Saved: revenue_by_product.csv

In [56]:
region_revenue_df.to_csv("revenue_by_region.csv", index=False)
print("Saved: revenue_by_region.csv")

Saved: revenue_by_region.csv

In [57]:
top_products_df.to_csv("top_products.csv", index=False)
print("Saved: top_products.csv")

Saved: top_products.csv

In [58]:
def generate_sales_analytics(input_file):
    """
    Generate sales analytics summaries from a sales dataset.
    """
    # Load data
    df = pd.read_csv(input_file)
    
    # Calculate revenue
    df["revenue"] = df["quantity"] * df["price"]
    
    # Revenue by product
    product_revenue = df.groupby("product")["revenue"].sum().reset_index()
    product_revenue.columns = ["product", "total_revenue"]
    product_revenue.to_csv("revenue_by_product.csv", index=False)
    
    # Revenue by region
    region_revenue = df.groupby("region")["revenue"].sum().reset_index()
    region_revenue.columns = ["region", "total_revenue"]
    region_revenue.to_csv("revenue_by_region.csv", index=False)
    
    # Top products
    top_products = df.groupby("product")["revenue"].sum().sort_values(ascending=False).head(2).reset_index()
    top_products.columns = ["product", "total_revenue"]
    top_products.to_csv("top_products.csv", index=False)
    
    print("Analytics generated successfully!")
    print(f"Total revenue: {df['revenue'].sum():,.2f}")
    print(f"Average order value: {df['revenue'].mean():,.2f}")
    
    return product_revenue, region_revenue, top_products

In [59]:
product_rev, region_rev, top_prod = generate_sales_analytics("sales_data.csv")

Analytics generated successfully!
Total revenue: 31,000.00
Average order value: 7,750.00