In [9]:
# Optional: Create the CSV file using Python
content = """
order_id,region,product,quantity,price
1001,East,Keyboard,2,1500
1002,West,Mouse,5,500
1003,East,Monitor,,12000
1004,South,Keyboard,1,1500
1005,West,Monitor,2,12000
"""

with open("sales_data.csv", "w") as file:
    file.write(content)

print("sales_data.csv created successfully!")

sales_data.csv created successfully!

In [7]:
import pandas as pd
df = pd.read_csv("sales_data.csv")

In [8]:
print(df)

   order_id region   product  quantity  price
0      1001   East  Keyboard       2.0   1500
1      1002   West     Mouse       5.0    500
2      1003   East   Monitor       NaN  12000
3      1004  South  Keyboard       1.0   1500
4      1005   West   Monitor       2.0  12000

In [10]:
df.head()

   order_id region   product  quantity  price
0      1001   East  Keyboard       2.0   1500
1      1002   West     Mouse       5.0    500
2      1003   East   Monitor       NaN  12000
3      1004  South  Keyboard       1.0   1500
4      1005   West   Monitor       2.0  12000

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   order_id  5 non-null      int64
 1   region    5 non-null      object
 2   product   5 non-null      object
 3   quantity  4 non-null      float64
 4   price     5 non-null      int64
dtypes: float64(1), int64(2), object(2)
memory usage: 232.0+ bytes

In [12]:
df.describe()

          order_id  quantity         price
count     5.000000  4.000000      5.000000
mean   1003.000000  2.500000   5500.000000
std       1.581139  1.732051   5947.688627
min    1001.000000  1.000000    500.000000
25%    1002.000000  1.750000   1500.000000
50%    1003.000000  2.000000   1500.000000
75%    1004.000000  2.750000  12000.000000
max    1005.000000  5.000000  12000.000000

In [13]:
region_series = df["region"]
print(type(region_series))

<class 'pandas.core.series.Series'>

In [14]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [15]:
print(region_series)

0     East
1     West
2     East
3    South
4     West
Name: region, dtype: object

In [18]:
df.isna
## the third coolumn contains missing values

<bound method DataFrame.isna of    order_id region   product  quantity  price
0      1001   East  Keyboard       2.0   1500
1      1002   West     Mouse       5.0    500
2      1003   East   Monitor       NaN  12000
3      1004  South  Keyboard       1.0   1500
4      1005   West   Monitor       2.0  12000>

In [22]:
df.describe()
## numeric columns are order_id, quantity and price

          order_id  quantity         price
count     5.000000  4.000000      5.000000
mean   1003.000000  2.500000   5500.000000
std       1.581139  1.732051   5947.688627
min    1001.000000  1.000000    500.000000
25%    1002.000000  1.750000   1500.000000
50%    1003.000000  2.000000   1500.000000
75%    1004.000000  2.750000  12000.000000
max    1005.000000  5.000000  12000.000000

In [23]:
df.info
## missing quantity for monitor order and need to verify prices because of the 12000> value

<bound method DataFrame.info of    order_id region   product  quantity  price
0      1001   East  Keyboard       2.0   1500
1      1002   West     Mouse       5.0    500
2      1003   East   Monitor       NaN  12000
3      1004  South  Keyboard       1.0   1500
4      1005   West   Monitor       2.0  12000>

In [24]:
df.isnull().sum()

order_id    0
region      0
product     0
quantity    1
price       0
dtype: int64

In [25]:
df.columns

Index(['order_id', 'region', 'product', 'quantity', 'price'], dtype='object')

In [27]:
df.memory_usage(deep=True)

Index        72
order_id     40
region      146
product     160
quantity     40
price        40
dtype: int64